<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134891945201-jh4d594lkbp4siqgpkd4hn76ug25t1d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134891945201-jh4d594lkbp4siqgpkd4hn76ug25t1d2</string>
	<key>API_KEY</key>
	<string>AIzaSyD-nxlZCsSAGIMNCIlM2gxexMZ1H1QOibY</string>
	<key>GCM_SENDER_ID</key>
	<string>134891945201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comp380.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-1bda0</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-1bda0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134891945201:ios:c988ef1ea4aef566897d50</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-1bda0.firebaseio.com</string>
</dict>
</plist>